<% if download.status == 'active' %>
  <%= image_tag "spinner.gif" %>

  <p>
    Generating download for <%= download.name %> at
    <%= download.created_at.strftime("%H:%M") %>
    on
    <%= download.created_at.strftime("%-d %b") %>
  </p>
<% elsif download.status == 'failed' %>
  <strong>Download failed, please retry.</strong>
<% else %>
  <ul>
    <li>
      <h5>Download island boundaries</h5>
      <a href="<%= get_download_path(download.id, 'geometry') %>" class="btn btn-green">Download Boundaries</a>
    </li>
    <li>
      <h5>Download island attributes</h5>
      <a href="<%= get_download_path(download.id, 'attributes') %>" class="btn btn-green">Download Attributes</a>
    </li>
  </ul>

  <p>
    Generated at <%= download.created_at.strftime("%H:%M") %>
    on <%= download.created_at.strftime("%-d %b %Y") %>
  </p>
  <p>
    Please <a href="/exports/download_merge_instructions.txt">click here</a> for information on how to merge these two data sets
  </p>
<% end %>

<% if download.nil? %>
  No downloads available
<% end %>
