<h2>Global Islands Database download complete</h2>

<p>
  Your requested download for <em><%= @download.name %></em> completed at <%= @download.updated_at.strftime("%H:%M") %> on <%= @download.updated_at.strftime("%-d %b") %>.
</p>

<p>
  Download the <%= link_to "attributes", get_download_url(@download.id, 'attributes') %> or
  <%= link_to "boundaries", get_download_url(@download.id, 'geometry') %> directly, or
  visit the <%= link_to "Global Islands Database home page", root_url %>.
</p>
